@model TimeableAppWeb.Areas.Admin.ViewModels.PictureEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Domain.PictureView.Picture.ChangeBgPicture</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <img src="@Model.Picture.Path" alt="" style="max-width: 100%; max-height: 400px;">
            <div asp-validation-summary="All" class="text-danger"></div>
            <hr style="margin-top: 20px" />
            <p>@Resources.Domain.PictureView.Picture.Upload:</p>
            <div class="row" style="margin-left: 20px;">
                <input type="file" name="file" id="file-input" />
            </div>
            <div class="row" style="margin-top: 20px;margin-left: 20px;">
                <label class="form-check-label">
                    <input id="picture-from-url-checkbox" class="form-check-input" asp-for="PictureFromUrl" /> @Html.DisplayNameFor(model => model.PictureFromUrl)
                </label>
            </div>
            <div class="form-group" style="display: none" id="url-div">
                <label asp-for="@Model.Picture.Path">@Html.DisplayNameFor(m => m.Picture.Path)</label>
                <input asp-for="@Model.Picture.Path" class="form-control" id="url-input" />
                <span asp-validation-for="@Model.Picture.Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture.Comment" class="control-label">@Html.DisplayNameFor(m => m.Picture.Comment)</label>
                <textarea asp-for="Picture.Comment" class="form-control"></textarea>
                <span asp-validation-for="Picture.Comment" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Picture.Id" />
            <input type="hidden" asp-for="Picture.CreatedAt" />
            <input type="hidden" asp-for="Picture.CreatedBy" />
            <input type="hidden" asp-for="OldPicturePath" />
            <input type="hidden" asp-for="OldFileName" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn light-blue-button" />
                <a asp-controller="ScreenSettings" asp-action="Index" class="btn dark-blue-outline-button" style="margin-left: 20px;">@Resources.Domain.ScreenView.Screen.BackToScreen</a>
            </div>
        </form>
    </div>
</div>

<script>
    $('#picture-from-url-checkbox').on('click',
        function () {
            if ($(this).prop("checked") === true) {
                $('#url-div').css('display', 'contents');
                $('#url-input').val('');
                $('#file-input').prop('disabled', true);
            } else {
                $('#url-div').css('display', 'none');
                $('#file-input').prop('disabled', false);
            }
        });
</script>

