@model TimeableAppWeb.Areas.Admin.ViewModels.AppUserViewModels.AppUserEditViewModel

@{
    ViewData["Title"] = "Edit user";
}

<h1>@Resources.Domain.AppUsersView.AppUser.EditUser</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="AppUserId" />
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="FullName" class="control-label">@Html.DisplayNameFor(m => m.FullName)</label>
                </div>
                <div class="col-sm-7">
                    <input asp-for="FullName" class="form-control" readonly/>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="Email" class="control-label">@Html.DisplayNameFor(m => m.Email)</label>
                </div>
                <div class="col-sm-7">
                    <input asp-for="Email" class="form-control" readonly/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ScheduleManagement" /> @Html.DisplayNameFor(m => m.ScheduleManagement)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EventsManagement" /> @Html.DisplayNameFor(m => m.EventsManagement)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ScreenManagement" /> @Html.DisplayNameFor(m => m.ScreenManagement)
                </label>
            </div>
            <div class="form-group row" style="margin-top: 20px">
                <input type="submit" value="@Resources.Views.Common.Save" class="btn light-blue-button" id="save-button" />
                <a asp-controller="AppUsers" asp-action="Index" class="btn dark-blue-outline-button" style="margin-left: 20px;">@Resources.Domain.AppUsersView.AppUser.Back</a>
            </div>
        </form>
    </div>
</div>
