@model TimeableAppWeb.Areas.Admin.ViewModels.Account.UserInformationViewModel
@{
    ViewData["Title"] = "ChangeUserInformation";
}

<h1>@Resources.Views.Account.Account.ChangeUserInfo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeUserInformation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.InformationSaved)
            {
                <div class="alert alert-success" role="alert">
                    @Html.DisplayNameFor(m => m.InformationSaved)
                </div>
            }
            <div class="form-group">
                <label asp-for="Email" class="control-label">@Html.DisplayNameFor(m => m.Email)</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">@Html.DisplayNameFor(m => m.FirstName)</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">@Html.DisplayNameFor(m => m.LastName)</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Views.Common.Save" class="btn light-blue-button" />
            </div>
        </form>
    </div>
</div>

