@model TimeableAppWeb.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
        <div class="card text-center border-dark mb-3 blue-text">
            <div class="card-body text-dark align-content-center">
                @if (Model.LinkSent)
                {
                    <div class="alert alert-success" role="alert">
                        @Resources.Views.ClientHome.Account.PassResetEmailSent
                    </div>
                }
                <section>
                    <h3 class="card-title">@Resources.Views.ClientHome.Account.ForgotPassword</h3>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email">@Resources.Views.ClientHome.Account.EnterEmail</label>
                            <input asp-for="Email" class="form-control" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <a asp-controller="Home" asp-action="Index" class="btn dark-blue-outline-button" style="margin-right: 20px;">@Resources.Views.ClientHome.Account.Back</a>
                        <input type="submit" value="@Resources.Views.Common.Send" class="btn light-blue-button" />
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}