@model TimeableAppWeb.Controllers.HomeController.InputModel
@{
    ViewData["Title"] = "Log into Timeable";
}

<div class="row">
    <partial name="_CookieConsentPartial"/>
    <div class="col-sm-6 col-md-4 col-lg-3" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
        <div class="card text-center border-dark mb-3">
            <div class="card-body text-dark align-content-center">
                @if (Model.NoActiveScreen)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        @Resources.Views.ClientHome.Index.NoActiveScreen
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <a type="button" class="btn light-blue-button" style="margin: 1em 0;" asp-controller="Timetables" asp-action="Index">@Resources.Views.ClientHome.Index.ShowScreen</a>
                <div class="row align-content-center">
                    <div class="col-5">
                        <hr style="border: 2px solid;" />
                    </div>
                    <div class="col-2" style="padding: 0 0">
                        <h5>@Resources.Views.ClientHome.Index.Or</h5>
                    </div>
                    <div class="col-5">
                        <hr style="border: 2px solid;" />
                    </div>
                </div>
                <h3 class="card-title">@Resources.Views.ClientHome.Index.LogIntoTimeable</h3>
                <section>
                    <form id="account" method="post">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div asp-validation-summary="All" class="alert alert-danger"></div>
                        }
                        <div class="form-group">
                            <input asp-for="@Model.Email" class="form-control" placeholder="@Resources.Views.ClientHome.Index.Email" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="@Model.Password" class="form-control" placeholder="@Resources.Views.ClientHome.Index.Password" />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="margin-bottom: 0">
                            <button type="submit" class="btn light-blue-button">@Resources.Views.ClientHome.Index.Login</button>
                        </div>
                        <div class="form-group" style="margin-bottom: 0">
                            <a class="btn btn-link blue-text" asp-action="Index">@Resources.Views.ClientHome.Index.ForgotPassword</a>
                        </div>
                    </form>
                </section>
                <div class="row" align="center" style="margin: 0">
                    <partial name="_LanguageSelectionPartial" />
                </div>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-link" asp-action="Privacy" style="position: absolute; left: 50%; top: 97%; transform: translate(-50%, -50%);">@Resources.Views.Shared._Layout.Privacy</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


